/**
 * The following styles get applied inside the editor only.
 */

.wp-block-jco-portal-slot {
	position: relative;
	border: 2px dashed #888;
	border-radius: 4px;
	min-height: 50px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.02);

	&::before {
		background-color: #888;
		color: #fff;
		position: absolute;
		top: -22px;
		left: -2px;
		font-size: 11px;
		padding: 2px 8px;
		border-radius: 4px 4px 0 0;
		content: "Portal Slot";
		font-weight: 600;
	}

	.jcore-portal-slot-placeholder {
		text-align: center;
		color: #757575;
		font-style: italic;
		padding: 15px;
	}
}
