name: Validate Pull Request

on: [pull_request]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: php-actions/composer@v6
        with:
          command: validate
          version: 2.8.1
